<!DOCTYPE html>
<html lang="en">

<!-- doccure/booking.html  30 Nov 2019 04:12:16 GMT -->

<head>
	<meta charset="utf-8">
	<title>Doccure</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<!-- Favicons -->
	<link href="../public/assets/img/favicon.png" rel="icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../public/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="../public/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="../public/assets/plugins/fontawesome/css/all.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="../public/assets/css/style.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->

</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		{{>header}}
		<!-- /Header -->

		<!-- Breadcrumb -->
		<div class="breadcrumb-bar">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-md-12 col-12">
						<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Booking</li>
							</ol>
						</nav>
						<h2 class="breadcrumb-title">Booking</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadcrumb -->

		<!-- Page Content -->
		<div class="content">
			<div class="container">

				<div class="row">
					<div class="col-12">

						<div class="card">
							<div class="card-body">
								<div class="booking-doc-info">
									<a href="/doctor-profile" class="booking-doc-img">
										<img src="../public/assets/uploads/{{data.image}}" alt="User Image">
									</a>
									<div class="booking-info">
										<h4><a href="doctor-profile.html">{{data.name}}</a></h4>
										<div class="rating">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i> 
											<i class="fas fa-star"></i>
											<span class="d-inline-block average-rating">35</span>
										</div>
										<p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i> {{data.contactDetails.state}}, {{data.contactDetails.country}}
										</p>
									</div>
								</div>
								<div class="consultant-fee-info mt-3">
									<h5>Consultant Fee : &#8377; {{data.price}}</h5>
								</div>
							</div>
						</div>

						<!-- Schedule Widget -->
						<div class="card booking-schedule schedule-widget">
							<div class="container mt-5 mb-5">
								<form action="/booking/{{data.id}}" method="post"> 
									<input type="hidden" value="{{data.price}}" name="fee">
									<!-- Personal Information -->
									<div class="info-widget">
										<h4 class="card-title">Select Date And Time</h4>
										<div class="row">

											<div class="col-md col-sm-12">
												<div class="form-group card-label">
													<label>Date</label>
													<input class="form-control" name="date" type="date"
       												min="2022-01-01" max="2022-05-31">
												</div>
											</div>
											<div class="col-md col-sm-12">
												<div class="form-group card-label">
													<label>Time</label>
													<input class="form-control" name="time" type="time">
												</div>
											</div>
										</div>
										
									</div>
									<!-- /Personal Information -->

									<!-- Terms Accept -->
									<div class="terms-accept">
										<div class="custom-checkbox">
											<input type="checkbox" id="terms_accept">
											<label for="terms_accept">I have read and accept <a href="#">Terms &amp;
													Conditions</a></label>
										</div>
									</div>
									<!-- /Terms Accept -->

									<!-- Submit Section -->
									<div class="submit-section mt-4">
										<button type="submit" class="btn btn-primary submit-btn">Book
											Appointment</button>
									</div>
									<!-- /Submit Section -->

							</div>
							</form>
						</div>

					</div>
					<!-- /Schedule Widget -->


				</div>
			</div>
		</div>

	</div>
	<!-- /Page Content -->

	<!-- Footer -->
	{{>footer}}
	<!-- /Footer -->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="assets/js/jquery.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js"></script>

</body>

<!-- doccure/booking.html  30 Nov 2019 04:12:16 GMT -->

</html>