<!DOCTYPE html>
<html lang="en">

<!-- doccure/search.html  30 Nov 2019 04:12:16 GMT -->

<head>
	<meta charset="utf-8">
	<title>Doccure</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<!-- Favicons -->
	<link href="../public/assets/img/favicon.png" rel="icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../public/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="../public/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="../public/assets/plugins/fontawesome/css/all.min.css">

	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="../public/assets/css/bootstrap-datetimepicker.min.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="../public/assets/plugins/select2/css/select2.min.css">

	<!-- Fancybox CSS -->
	<link rel="stylesheet" href="../public/assets/plugins/fancybox/jquery.fancybox.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="../public/assets/css/style.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->

</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		{{>header}}
		<!-- /Header -->

		<!-- Breadcrumb -->
		<div class="breadcrumb-bar">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-md-8 col-12">
						<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Search</li>
							</ol>
						</nav>

						<style>
							h2.hide{
								display: none;
							}
							
						</style>

						{{!-- <script>
							let tittle = document.getElementById("title");

						</script> --}}

						<h2 id="title" class="breadcrumb-title {{css}}">{{data2}} matches found for : {{specialization}} In {{cityName}}</h2>
						
					</div>
					<div class="col-md-4 col-12 d-md-block d-none">
						<div class="sort-by">
							<span class="sort-title">Sort by</span>
							<span class="sortby-fliter">
								<select class="select">
									<option>Select</option>
									<option class="sorting">Rating</option>
									<option class="sorting">Popular</option>
									<option class="sorting">Latest</option>
									<option class="sorting">Free</option>
								</select>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadcrumb -->

		<!-- Page Content -->
		<div class="content">
			<div class="container-fluid">

				<div class="row">
					<div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">

						<!-- Search Filter -->
						<div class="card search-filter">
							<div class="card-header">
								<h4 class="card-title mb-0">Search Filter</h4>
							</div>
							<div class="card-body">
								<form action="/search-doctor" method="post">
									<div class="filter-widget">
										<div class="cal-icon">
											<input type="text" class="form-control datetimepicker"
												placeholder="Select Date">
										</div>
									</div>
									<div class="filter-widget">
										<h4>Gender</h4>
										<div>
											<label class="custom_check">
												<input type="checkbox" value="Male" name="gender_type">
												<span class="checkmark"></span> Male Doctor 
											</label>
										</div>
										<div>
											<label class="custom_check">
												<input type="checkbox" value="Female" name="gender_type">
												<span class="checkmark"></span> Female Doctor
											</label>
										</div>
									</div>
									<div class="filter-widget">
										<h4>Select Specialist</h4>
										<div>
											<label class="custom_check">
												<input type="checkbox" value="Urology" name="select_specialist">
												<span class="checkmark"></span> Urology
											</label>
										</div>
										<div>
											<label class="custom_check">
												<input type="checkbox" value="Neurology" name="select_specialist">
												<span class="checkmark"></span> Neurology
											</label>
										</div>
										<div>
											<label class="custom_check">
												<input type="checkbox" value="Dentist" name="select_specialist">
												<span class="checkmark"></span> Dentist
											</label>
										</div>
										<div>
											<label class="custom_check">
												<input type="checkbox" value="Orthopedic" name="select_specialist">
												<span class="checkmark"></span> Orthopedic
											</label>
										</div>
										<div>
											<label class="custom_check">
												<input type="checkbox" value="Cardiologist" name="select_specialist">
												<span class="checkmark"></span> Cardiologist
											</label>
										</div>
										<div>
											<label class="custom_check">
												<input type="checkbox" value="Pediatrician" name="select_specialist">
												<span class="checkmark"></span> Pediatrician
											</label>
										</div>
									</div>
									<div class="btn-search">
										<button type="submit" id="search-btn" class="btn btn-block">Search</button>
									</div>
								</form>
							</div>
						</div>
						<!-- /Search Filter -->

					</div>

					<div class="col-md-12 col-lg-8 col-xl-9">

						<!-- Doctor Widget -->
						<div class="card">
							<div class="card-body">
								<div class="doctor-widget">
									<div class="doc-info-left">
										<div class="doctor-img">
											<a href="doctor-profile.html">
												<img src="../public/assets/img/doctors/doctor-thumb-01.jpg"
													class="img-fluid" alt="User Image">
											</a>
										</div>
										<div class="doc-info-cont">
											<h4 class="doc-name"><a href="/doctor-profile">Dr Puneet</a></h4>
											<p class="doc-speciality">MDS - Periodontology and Oral Implantology, BDS
											</p>
											<h5 class="doc-department"><img
													src="../public/assets/img/specialities/specialities-05.png"
													class="img-fluid" alt="Speciality">Dentist</h5>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">(17)</span>
											</div>
											<div class="clinic-details">
												<p class="doc-location"><i class="fas fa-map-marker-alt"></i> Florida,
													USA</p>
												<ul class="clinic-gallery">
													<li>
														<a href="../public/assets/img/features/feature-01.jpg"
															data-fancybox="gallery">
															<img src="../public/assets/img/features/feature-01.jpg"
																alt="Feature">
														</a>
													</li>
													<li>
														<a href="../public/assets/img/features/feature-02.jpg"
															data-fancybox="gallery">
															<img src="../public/assets/img/features/feature-02.jpg"
																alt="Feature">
														</a>
													</li>
													<li>
														<a href="../public/assets/img/features/feature-03.jpg"
															data-fancybox="gallery">
															<img src="../public/assets/img/features/feature-03.jpg"
																alt="Feature">
														</a>
													</li>
													<li>
														<a href="../public/assets/img/features/feature-04.jpg"
															data-fancybox="gallery">
															<img src="../public/assets/img/features/feature-04.jpg"
																alt="Feature">
														</a>
													</li>
												</ul>
											</div>
											<div class="clinic-services">
												<span>Dental Fillings</span>
												<span> Whitneing</span>
											</div>
										</div>
									</div>
									<div class="doc-info-right">
										<div class="clini-infos">
											<ul>
												<li><i class="far fa-thumbs-up"></i> 98%</li>
												<li><i class="far fa-comment"></i> 17 Feedback</li>
												<li><i class="fas fa-map-marker-alt"></i> Florida, USA</li>
												<li><i class="far fa-money-bill-alt"></i> $300 - $1000 <i
														class="fas fa-info-circle" data-toggle="tooltip"
														title="Lorem Ipsum"></i> </li>
											</ul>
										</div>
										<div class="clinic-booking">
											<a class="view-pro-btn" href="/doctor-profile/623c53b827bb4aa3d57486bc">View
												Profile</a>
											<a class="apt-btn" href="/booking/623c53b827bb4aa3d57486bc">Book
												Appointment</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /Doctor Widget -->

						<!-- Doctor Widget -->
						{{#each data}}
						<div class="card">
							<div class="card-body">
								<div class="doctor-widget">
									<div class="doc-info-left">
										<div class="doctor-img">
											<a href="doctor-profile.html">
												<img src="../public/assets/uploads/{{this.image}}" class="img-fluid"
													alt="User Image">
											</a>
										</div>
										<div class="doc-info-cont">
											<h4 class="doc-name"><a href="doctor-profile.html">{{this.name}}</a></h4>
											<p class="doc-speciality">{{this.specialization}} & Maxillofacial Surgery
											</p>
											<h5 class="doc-department"><img
													src="../public/assets/img/specialities/specialities-05.png"
													class="img-fluid" alt="Speciality">{{this.services}}</h5>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">(35)</span>
											</div>
											<div class="clinic-details">
												<p class="doc-location"><i class="fas fa-map-marker-alt"></i>
													{{this.contactDetails.state}},
													{{this.contactDetails.country}}</p>
												<ul class="clinic-gallery">
													<li>
														<a href="../public/assets/img/features/feature-01.jpg"
															data-fancybox="gallery">
															<img src="../public/assets/img/features/feature-01.jpg"
																alt="Feature">
														</a>
													</li>
													<li>
														<a href="../public/assets/img/features/feature-02.jpg"
															data-fancybox="gallery">
															<img src="../public/assets/img/features/feature-02.jpg"
																alt="Feature">
														</a>
													</li>
													<li>
														<a href="../public/assets/img/features/feature-03.jpg"
															data-fancybox="gallery">
															<img src="../public/assets/img/features/feature-03.jpg"
																alt="Feature">
														</a>
													</li>
													<li>
														<a href="../public/assets/img/features/feature-04.jpg"
															data-fancybox="gallery">
															<img src="../public/assets/img/features/feature-04.jpg"
																alt="Feature">
														</a>
													</li>
												</ul>
											</div>
											<div class="clinic-services">
												<span>{{this.services}}</span>
												<span> {{this.services}}</span>
											</div>
										</div>
									</div>
									<div class="doc-info-right">
										<div class="clini-infos">
											<ul>
												<li><i class="far fa-thumbs-up"></i> 100%</li>
												<li><i class="far fa-comment"></i> 35 Feedback</li>
												<li><i class="fas fa-map-marker-alt"></i> {{this.contactDetails.state}},
													{{this.contactDetails.country}}</li>
												<li><i class="far fa-money-bill-alt"></i> $50 - $300 <i
														class="fas fa-info-circle" data-toggle="tooltip"
														title="Lorem Ipsum"></i></li>
											</ul>
										</div>
										<div class="clinic-booking">
											<a class="view-pro-btn" href="/doctor-profile/{{this._id}}">View Profile</a>
											<a class="apt-btn" href="/booking/{{this._id}}">Book Appointment</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						{{/each}}
						<!-- /Doctor Widget -->

						<div class="load-more text-center">
							<a class="btn btn-primary btn-sm" href="javascript:void(0);">Load More</a>
						</div>
					</div>
				</div>

			</div>

		</div>
		<!-- /Page Content -->

		<!-- Footer -->
		{{>footer}}
		<!-- /Footer -->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="../public/assets/js/jquery.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="../public/assets/js/popper.min.js"></script>
	<script src="../public/assets/js/bootstrap.min.js"></script>

	<!-- Sticky Sidebar JS -->
	<script src="../public/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
	<script src="../public/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

	<!-- Select2 JS -->
	<script src="../public/assets/plugins/select2/js/select2.min.js"></script>

	<!-- Datetimepicker JS -->
	<script src="../public/assets/js/moment.min.js"></script>
	<script src="../public/assets/js/bootstrap-datetimepicker.min.js"></script>

	<!-- Fancybox JS -->
	<script src="../public/assets/plugins/fancybox/jquery.fancybox.min.js"></script>

	<!-- Custom JS -->
	<script src="../public/assets/js/script.js"></script>


</body>


</html>